TOKEN = ""
DEV_TOKEN = ""

API_KEY = ""


DATABASE_URL = "postgresql://<Fill in Here>"
ASYNC_DATABASE_URL = "postgresql+asyncpg://<Fill In Here>"
DEV = False

API_KEYS = ["",
            "",
            "",
            "",
            "",
            ""]

# Keep this set to false. It's just for some hyper specific server setup
main_acct = False

prefix='&'

special_cogs= ["","",""]
ignored_cogs = []
